<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.retain.nd.mapper.ISafeFileMapper">

  <select id="list" resultType="top.retain.nd.entity.UserFile">
    select * from file where  id in (select file_id from safe_file where user_id = #{userId}) and deleted = false;
  </select>

</mapper>