<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.retain.nd.mapper.ITagFileMapper">


    <select id="listTagFiles" resultType="top.retain.nd.entity.UserFile">
        select f.* from tag_file A inner join file f on A.file_id = f.id where tag_id = #{tagId} and in_safe = false;
    </select>
    <select id="getTagFiles" resultType="top.retain.nd.entity.TagFile">
        select * from tag_file A inner join file f on A.file_id = f.id where tag_id = #{tagId} and in_safe = false;
    </select>
</mapper>