<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.retain.nd.mapper.IUserMapper">


    <select id="selectByPhone" parameterType="java.lang.String" resultType="top.retain.nd.entity.User">
        select * from user where phone_number = #{phoneNumber} limit 1;
    </select>

    <select id="getUserBucket" parameterType="java.lang.String" resultType="java.lang.String">
        select bucket_name from user where account = #{account};
    </select>



    <select id="selectByAccount" parameterType="java.lang.String" resultType="top.retain.nd.entity.User" >
        select * from user where account = #{account};
    </select>
</mapper>
